{% extends "pred/base_layout.html" %}

{%block content_right_panel %}
{% load static %}
    {% if username %}
      {% include "pred/user_header.html" %}
    {% endif %}
   <h2>Example results</h2>

   <p>
   <ul style="line-height:1.5;">
       <li>The result page of an example job using sscore:
        <a href="/pred/result/example_oneseq_sscore"> An example job using sscore</a>
        </li>
       <li>The result page of an example job using TMscore:
        <a href="/pred/result/example_oneseq_tmscore"> An example job using TMscore</a>
        </li>
       <li>The result page of an example job using LDDT:
        <a href="/pred/result/example_oneseq_lddt"> An example job using LDDT</a>
        </li>
       <li>The result page of an example job using CAD:
        <a href="/pred/result/example_oneseq_cad"> An example job using CAD</a>
        </li>
   </ul>
   </p>
   <p>
   A snapshot of a running job:
   <a href="{% static "images/example_snapshot.png" %}"><img src="{% static "images/example_snapshot.thumb.png" %}" alt="snapshot of example" style="border: none; height: 50;"></a>
   </p>

{% endblock %}

