
<b>ProQ3:</b> [<u>Please cite this paper if you find ProQ3 useful in your research</u>]
<br>
ProQ3: Improved model quality assessments using Rosetta energy terms.
Karolis Uziela, Nanjiang Shu, Björn Wallner and Arne Elofsson. Scientific Reports, 33509.
[<a href="http://www.ncbi.nlm.nih.gov/pubmed/27698390">PubMed</a>]

<br><br>
<b>ProQ3D</b>: [<u>Please cite this paper if you find ProQ3D useful in your research</u>] 
<br>
ProQ3D: Improved model quality assessments using Deep Learning. Karolis Uziela,
David Men&eacute;ndez Hurtado, Nanjiang Shu, Bj&ouml;rn Wallner and Arne Elofsson. Bioinformatics. 2017 May 15;33(10):1578-1580 
[<a href="http://www.ncbi.nlm.nih.gov/pubmed/28052925">PubMed</a>]

<br><br>
<b>Others</b>:
<br>
Improved protein model quality assessments by changing the target function. Karolis Uziela, 
 David Men&eacute;ndez Hurtado, Nanjiang Shu, Bj&ouml;rn Wallner and Arne Elofsson. Proteins. 2018 Jun;86(6):654-663.
[<a href="http://www.ncbi.nlm.nih.gov/pubmed/29524250">PubMed</a>]
