{% extends "pred/base_layout.html" %}

{%block content_right_panel %}

    {% if username %}
      {% include "pred/user_header.html" %}
    {% endif %}

    <h2>ProQ3/ProQ3D: Improved model quality assessment</h2>
    <p><font color=red>To run ProQ3D that uses deep learning, please check the option "Using deep learning" </font></p>
    <form name="seq_form" action="/pred/" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{form.as_p}}

        <script language="javascript">
            document.getElementById('options').style.display = 'none';
        </script>
        <br><br>
        <p> <input type="submit" name=do value="Submit" /> <INPUT type="reset" value="Clear" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Generate example input" onclick="example_fill();"></p>

    </form>
    <br><br><br>
    <hr>
   <table cellspacing=0 cellpadding=5 border=0>
     <tr><td><img src="{{STATIC_URL}}/images/0.gif" border=0 height=1 width=400></td>
       <td><img src="{{STATIC_URL}}/images/0.gif" border=0 height=1 width=50></td>
     </tr>
     <tr><td>
         <h3>Reference</h3>
         <b>ProQ3:</b> [<u>Please cite this paper if you find ProQ3 useful in your research</u>]
         <br>
        ProQ3: Improved model quality assessments using Rosetta energy terms<br>
          Karolis Uziela, Nanjiang Shu, Björn Wallner and Arne Elofsson. Scientific Reports, 33509.
        [<a href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&Cmd=ShowDetailView&TermToSearch=27698390">PubMed</a>]
        <br><br>
        <b>ProQ3D</b>: Improved model quality assessments using Deep Learning. Karolis Uziela,
 David Men&eacute;ndez Hurtado, Nanjiang Shu, Bj&ouml;rn Wallner and Arne Elofsson. Manuscript.
        [<a href="https://arxiv.org/abs/1610.05189">arXiv</a>]
     </td></tr>
     <tr><td>
         <h3>Resource provider</h3>
         <p>ProQ3 is supported by the <a href="https://www.egi.eu/services/cloud-compute/">EGI FedCloud</a> with the VO VO.NBIS.SE for computational resource.</p>
     </td></tr>
 </table>

{% endblock %}
